SA_PASSWORD=TestPassword123!
TODOAPPDB=Server=db;Database=ToDoAppDb;User Id=sa;Password=TestPassword123!;TrustServerCertificate=True;
ASPNETCORE_ENVIRONMENT=Development # Change to Production in production environment